<form method="post" action="/puppy">

  Name <input type="text" name="name"><br>
  <hr>
  Breed <input type="text" name="breed"><br>
<hr>
  Age <input type="text" name="age"> <br>
  <input type="submit" value="submit">

</form>
